.vs/
*.user
*.suo
*.cache
*.log
**/bin/
**/obj/
00Demo/
00Exe/
01Main/Vm.Core/bin/
01Main/Vm.Core/Dll/
01Main/Vm.Core/obj/

01Main/Vm.Start/bin/
01Main/Vm.Start/obj/

03ThirdPartyDll/Dll/
03ThirdPartyDll/MyScript/bin/
03ThirdPartyDll/MyScript/obj/
03ThirdPartyDll/Vm.Halcon/bin/
03ThirdPartyDll/Vm.Halcon/obj/
07Dll/
packages/
Control3D/Dll/*
Control3D/ImageControl/.vs/
Control3D/ImageControl/bin/
Control3D/ImageControl/obj/
Control3D/ImageControl/packages/
Control3D/VM.Halcon/bin/
Control3D/VM.Halcon/obj/
Control3D/WpfApp1/bin/
Control3D/WpfApp1/obj/
.gitignore_bak



